body {
  color: rgb(228, 70, 30);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  background: linear-gradient(
    to bottom, 
    rgb(255, 237, 189),
    rgb(240, 234, 190),
    rgb(224, 231, 192),
    rgb(209, 228, 193),
    rgb(194, 225, 194),
    rgb(178, 222, 196),
    rgb(163, 219, 197),
    rgb(147, 216, 199),
    rgb(132, 213, 200),
    rgb(117, 210, 201),
    rgb(101, 207, 203),
    rgb(86, 204, 204)
  );
}
